<main>
  <div class="container">
    <h1>Contact Us</h1>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="input-group">
        <div class="input-item">
          <label for="first-name">First Name *</label>
          <input type="text" id="first-name" name="first-name" [(ngModel)]="contact.firstName" #firstName="ngModel" required autocomplete="first-name">
          <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty) ||  isSubmitBtnClicked">
            <span *ngIf="firstName.errors?.required" class="error-msg">This field is required</span>
          </div>
        </div>
        <div class="input-item">
          <label for="last-name">Last Name *</label>
          <input type="text" id="last-name" name="last-name" [(ngModel)]="contact.lastName" #lastName="ngModel" required autocomplete="last-name">
          <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty) ||  isSubmitBtnClicked">
            <span *ngIf="lastName.errors?.required" class="error-msg ">This field is required</span>
          </div>
        </div>
      </div>
      <div class="input-group">
        <div class="input-item">
          <label for="email">Email Address *</label>
          <input type="email" id="email" name="email" [(ngModel)]="contact.email" #email="ngModel" required autocomplete="email">
          <div *ngIf="email.invalid && (email.touched || email.dirty) ||  isSubmitBtnClicked">
            <span *ngIf="email.errors?.pattern" class="error-msg">Please enter a valid email address</span>
            <span *ngIf="email.errors?.required" class="error-msg ">This field is required</span>
          </div>
        </div>
      </div>
      <fieldset>
        <legend>Query type *</legend>
        <div class="input-group">
          <div [ngClass]="{active : contact.queryType=='general enquiry'}" class="input-item radio-input">
            <input type="radio" id="general-enquiry" [(ngModel)]="contact.queryType" name="query-type" value="general enquiry" required><label for="general-enquiry"> General Enquiry</label>
          </div>
          <div [ngClass]="{active : contact.queryType=='support request'}" class="input-item radio-input">
            <input type="radio" id="support-request" [(ngModel)]="contact.queryType" name="query-type" value="support request"><label for="support-request"> Support Request</label>
          </div>
        </div>
        <span *ngIf="!contact.queryType" class="error-msg query-type-error-msg">Please select a query type</span>
      </fieldset>
      <div class="input-group">
        <div class="input-item">
          <label for="message">Message *</label>
          <textarea rows="5" id="message" name="message" [(ngModel)]="contact.message" #message="ngModel" required></textarea>
          <div *ngIf="message.invalid && (message.touched || message.dirty) || isSubmitBtnClicked">
            <span *ngIf="message.errors?.required" class="error-msg ">This field is required</span>
          </div>
        </div>
      </div>
      <div class="input-item checkbox-input">
          <input type="checkbox" id="contact-preference" name="contact-preference" [(ngModel)]="contact.contactPreference"  #contactPreference="ngModel" required> <label id="label-contact-preference" for="contact-preference">I consent to being contacted by the team *</label>
      </div>
      <div *ngIf="contactPreference.invalid && (contactPreference.touched || contactPreference.dirty) ||  isSubmitBtnClicked">
        <span *ngIf="contactPreference.errors?.required" class="error-msg contact-preference-error">To submit this form, please consent to being contacted</span>
      </div>
      <button type="submit">Submit</button>
    </form>
    
  </div>
  <div *ngIf="isFormSubmited" class="toast-message">
    <div>
      <img src="../assets/images/icon-success-check.svg" alt="success icon">
      <h5>Message Sent!</h5>
    </div>
    <p>Thanks for completing the form. We'll be in touch soon!</p>
  </div>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
    Coded by <a href="#">Ouadih Kaoutar</a>.
  </div>

</main> 